/* PersonalInfoForm.css */

.personal-edit-form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

.personal-edit-form {
  background-color: #ffffff;
  border: 1px solid green;
  border-radius: 8px;
  padding: 20px 20px;
  width: 30vw;
  min-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  max-height: 80vh;
  overflow-y: scroll;
}
.personal-edit-form::-webkit-scrollbar {
  display: none;
}

.personal-edit-form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}



.personal-edit-input {
  width: 95%;
  padding: 8px 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.personal-edit-form-buttons {
  margin-top: 20px;
  text-align: center
}

.personal-edit-submit {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.personal-edit-submit:hover {
  background-color: #0056b3;
}

.personal-edit-cancel {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #ccc;
  padding: 8px 15px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
}

.personal-edit-cancel:hover {
  background-color: #f0f0f0;
}

.personal-edit-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 9999; /* Ensure the backdrop covers the entire page */
  pointer-events: none; /* Allow click events to pass through */
}