.alert-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .alert-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
  }
  
  .subject-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .message-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none; /* Disable textarea resizing */
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  