.capsule {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: #f0f0f0;
    background-image: url('../../Img/multi-green.jpg');
    background-size:cover;
    overflow: hidden; /* Ensures the partition line doesn't overflow */
    position: relative;
    cursor: pointer; /* Change cursor to pointer on hover */
    z-index: 2; /* Ensure capsules are above backdrop */
}


.time, .view {
    height: 100%;
    float: left;
    text-align: center;
    line-height: 50px; /* Centers text vertically */
    font-family: Arial, sans-serif;
    border-radius: 20px;
}

.time {
    width: 70%;
    /* background-color: rgb(10, 147, 67); Different background color for view */
    color: rgb(255, 255, 255);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.view {
    width: 30%;
    background-color: rgb(0, 43, 19); /* Different background color for view */
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.partition-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: white;
    left: 70%;
    transform: translateX(-50%);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 40, 24, 0.5);
  z-index: 999;
}

.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  height: 70vh;
  width: 80vw;
  border-radius: 10px;
  overflow: auto; /* Add scrollbar if content exceeds container */
}

  .alert-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .message {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 80%;
  }
  
  .subject {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    width: 100%;
    padding: 4px 5px;
    border-radius: 5px;
    background-color: antiquewhite;
    overflow: auto;
  }
  
  .capsule-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  
  .capsule-button-container button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: max-content;
  }
  
  .capsule-button-container button:hover {
    background-color: #0056b3;
  }

  .subject-heading{
    font-size: medium;
    /* background-color: black; */
    color: rgb(119, 42, 42);
  }
  .subject-message{
    font-size: small;
    font-weight: 400;
    font-size: 16px;
  }
  .subject-starred {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height:max-content;
    margin:0 10px
  }
  
  .subject-starred svg {
    font-size: 1.5em;
  }
  
  .tooltip {
    position: absolute;
    top: 50px;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 100;
  }
  
  .subject-starred:hover .tooltip {
    opacity: 1;
  }
  

  @media screen  and (max-width:700px){
    
  }



  @media screen  and (max-width:500px){
    .capsule {
      width: 120px;
      height: 50px;
      border-radius: 20px;
      font-size: small;
    }
    .alert {
      height: 90%;
    }
    
  }