.calendarCard-heading {
    margin: 10px;
    margin-bottom: 20px;
    color:black
  }
  
  .calendarCard-calendar-container{
    width: 100%;
  }

  .calendarCard-scheduled-block {
    display: flex;
    overflow-x: auto;
    padding: 10px 10px;
  }

  
  .calendarCard-scheduled-block::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }
  
  
  .calendarCard-scheduled-mock-interval {
    display: flex;
    gap: 20px;
  }
  
  .calendarCard-card {
    min-width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius:10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;    }
  
  .calendarCard-image-container {
    height: 100px; /* Adjust height as needed */
    background-color: #ccc; /* Placeholder color */
    border-radius: 10px;
  }
  .calendarCard-image-container img {
/* Placeholder color */
    height: 100%;
    width: 100%;
    border-radius:10px;
  }
  
  .calendarCard-details {
    margin-top: 20px;
  }

  .calendarCard-rightArrow {
    /* Your styles for the container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .scroll-indicator {
    display: flex;
    align-items: center;
    /* background-color: #f0f0f0; */
    border-radius: 20px;
    padding: 10px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  
  .dot {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    margin-right: 5px;
  }

  .arrow-container {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    background-color: #fff; /* Background color of the circle */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .calendarCard-detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .calendarCard-label {
    font-weight: bold;
  }
  
  .calendarCard-join-button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px 20px;
    font-size: large;
    background-color: green;
    color: white;
    border-radius: 5px;
  }
  
  @media screen and (max-width:1400px) and (min-width:700px) {

  }


  @media screen and (max-width:700px) {

    .calendarCard-calendar-container{
      text-align: center;
    }
  }