.Buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3vh;
}
.Buttons button{
    background-color: black;
    width: 100%;
    border-radius: 2px;
    border:1px solid gray;
}
.Buttons button:hover{
    background-color: rgb(117, 116, 116);
    width: 100%;
    border-radius: 2px;
    border:1px solid gray;
}
.admin_power{
    margin-top: 4rem;
    padding: 0 4vw;
    display: flex;
    justify-content: center;
}
.admin_power button{
    background-color: black;

}

/* Admin.css */
.TableContainer {
    width: 90vw;
    max-width: 90vw;
    overflow-x: scroll;
  }
  
  .DataTable {
    width: 100%; /* Set table width to 100% to cover the container width */
  }
  

.DataTable th,
.DataTable td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

.DataTable th {
    background-color: #19191a;
    font-weight: bold;
    color:white
}

.DataTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.DataTable tbody tr:hover {
    background-color: #ddd;
}
.DataTable{
    margin-bottom: 30px;
}
